.auth__input{
    width: 358px;
    padding-bottom: 10px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    box-sizing: border-box;
    background-color: #000000;
}

@media screen and (max-width: 545px) {
    .auth__input {
        margin: 0;
        padding-bottom: 8px;
        width: 282px;
    }
}