.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 41px 0;
    max-width: 880px;
    border: 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1023px) {
    .header{
        margin-top: 0;
        padding-bottom: 27px;
    }
}

@media screen and (max-width: 420px) {
    .header{
        flex-direction: column-reverse;
    }
}