.footer{
    max-width: 880px;
    margin: 0 auto;
    padding: 67px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 894px) {
    .footer{
        font-size: 14px;
        line-height: 17px;
        max-width: calc(100% - (2 * 48px));

    }
}


@media screen and (max-width: 358px) {
    .footer{
        font-size: 14px;
        line-height: 17px;
        max-width: calc(100% - (2 * 19px));
        padding: 48px auto 36px;
    }
}
