.popup__container{
    width: 430px;
    min-height: 328px;
    padding: 34px;
    background-color: #ffffff;
    border-radius:5px;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 545px) {
    .popup__container {
        padding: 25px 22px;
        margin-top: 125px;
        width: 282px;
        min-height: 317px;
        box-sizing: border-box;
    }
}